* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: url('./images/background.png');
    background-image: 100% 100%;

}

.background {
    background: rgba(0,0,0,0.8);
    z-index: 5;
    width: 100%;
    object-fit: cover;
}

.video {
    z-index: 100;
}